<div>
  <div class="header">
    <h1 color="primary">ABOUT US</h1>
  </div>
  <div class="info">
    <p>
      <span class="tab-1"></span>Wolverine Sports Analytics is a student-run organization at the University of Michigan that combines machine learning,
      software development, statistics, and computer science to develop algorithms for various different projects.
    </p>
  </div>
  <div class="projects">
    <p><br></p>
    <mat-grid-list [cols]="breakpoint" [rowHeight]="rowflex">
    </mat-grid-list>
  </div>

</div>
