<div>
  <div class="header">
    <h1 color="primary">Michigan Football Recruiting Project</h1>
  </div>
  <div class="info">
    <p>
      <span class="tab-1"></span>
      The world of college recruiting continues to evolve into a potential A.I. driven competition.
      In 2018, Wolverine Sports Analytics had the opportunity to work with the Michigan Football Team to try and
      discover a potential recruiting edge that they could adopt. Under the guidance of J.T. Rogan, Director of Communications
      & Operations for the Head Coach, we created an algorithm for predicting the likelihood of a recruit committing to Michigan
      but with a unique approach.
    </p>
    <p>
      <span class="tab-1"></span>
      Nearly every high school recruit uses Twitter as a means of making announcements regarding recruiting,
      so we decided to incorporate self-made Twitter statistics into our algorithm.
      Along with high school information and official-offer and visit information,
      our algorithm used percentage of tweets Michigan related and percentage of retweets Michigan related as features.
    </p>
    <p>
      <span class="tab-1"></span>
      We tested many forms of machine learning algorithms including: random forest, L1 and L2 logistic regression,
      and extreme gradient boosting. Ultimately, random forest models worked best for our specific dataset yielding and
      overall 90.5% accuracy while maintaining an individual-recruit 54.28% accuracy. With a larger dataset and wider
      assortment of Twitter features one would expect to achieve a higher individual accuracy, so there is room for much
      improvement.
    </p>
  </div>
</div>
