<div class="header">
  <h1 color="primary">PROJECTS</h1>
  <p><br></p>
  <button mat-stroked-button class="contact-button" (click)="goToContact()">CONTACT US</button>
  <div class="info">
    <p>
      Located below are some of our current and past projects.
    </p>
  </div>
</div>
<div class="projects">
  <mat-grid-list [cols]="breakpoint" [rowHeight]="rowflex">
    <mat-grid-tile class="mat-grid-tile-members">
      <mat-card class="fanduel">
        <mat-card-header>
          <mat-card-title class="card-header">NBA Fanduel Optimizer</mat-card-title>
          <mat-card-subtitle class="card-header">Sep. 2017 - April 2019</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button routerLink="/projects/fanduel-optimizer">
            More Info <fa-icon [icon]="faExternalLinkAlt" class="ext-link-icon"></fa-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile-members">
      <mat-card class="football-recruiting">
        <mat-card-header>
          <mat-card-title class="card-header">Michigan Football Recruiting Project</mat-card-title>
          <mat-card-subtitle class="card-header">Jan. 2018 - April 2018</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button routerLink="/projects/michigan-football-project">
            More Info <fa-icon [icon]="faExternalLinkAlt" class="ext-link-icon"></fa-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile-members">
      <mat-card class="michigan-wbb">
        <mat-card-header>
          <mat-card-title class="card-header">Michigan Women's Basketball Project</mat-card-title>
          <mat-card-subtitle class="card-header">Sep. 2019 - Present</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button routerLink="/projects/michigan-wbb-project">
            More Info <fa-icon [icon]="faExternalLinkAlt" class="ext-link-icon"></fa-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile-members">
      <mat-card class="hockey">
        <mat-card-header>
          <mat-card-title class="card-header">Michigan Hockey Project</mat-card-title>
          <mat-card-subtitle class="card-header">May 2020 - Present</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button routerLink="/projects/michigan-hockey-project">
            More Info <fa-icon [icon]="faExternalLinkAlt" class="ext-link-icon"></fa-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
