<div class="header">
  <h1 color="primary">CONTACT</h1>
  <p id="reach-out">
    <br>Feel free to reach out to us with any questions or connect with us through any of our social media platforms or email.
  </p>
  <p>
    <b>Email: </b> <u>lissjust@umich.edu</u> or <u>cindygu@umich.edu</u>
  </p>
  <button mat-raised-button (click)="goToUrl(wsaLinkedin)" class="linkedin-button">
    <fa-icon [icon]="faLinkedinIn" class="linkedin-in"></fa-icon><span class="tab-1"></span>LinkedIn
  </button>
</div>
<div class="email-list">
  <p>Join our mailing list!</p>
  <button mat-raised-button class="signup" (click)="goToUrl(signUp)">Sign Up</button>
</div>
