<div >
  <div style="height: 120vh;">
    <mat-toolbar color="primary" class="toolbar">
      <mat-toolbar-row fxFlexFill  style="margin-top: 5px;">
        <div class="logo">
          <a id="logoButton" routerLink="/home" mat-button style="width: 10em;">
            <img id="left" src="./assets/img/wsa-logo.png">
          </a>
        </div>
        <a routerLink="/about" mat-button>ABOUT</a>
        <a routerLink="/team" mat-button>TEAM</a>
        <a routerLink="/projects" mat-button>PROJECTS</a>
        <a routerLink="/contact" mat-button>CONTACT</a>

        <span class="example-fill-remaining-space"></span>
        <span *ngIf="loggedIn">Hello {{ currentUser.username }}!</span>
        <button mat-button (click)="login()" *ngIf="!loggedIn">LOGIN</button>
        <a *ngIf="loggedIn"(click)="logout()" mat-button>LOGOUT</a>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>
