.example-fill-remaining-space {
  flex: 1 1 auto;
}

#left {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 50px;
  margin-left: inherit;
  margin-right: auto;
}

.logo {
  position: relative;
}

body {
  margin: 0;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  min-height: 75px;
  max-height: 1000px;
}
