.example-fill-remaining-space {
  flex: 1 1 auto;
}

.left {
  width: 100px;
  top: 15px;
  height: 50px;
  margin-left: 0;
}

.words {
  margin-left: 1;
}

body {
  margin: 0;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  min-height: 70px;
  max-height: 1000px;
}
