<div>
  <div class="header">
    <h1 color="primary">Michigan Women's Basketball Project</h1>
  </div>
  <div class="info">
    <p>
      <span class="tab-1"></span>
      Women’s college basketball is a sport that is yet to capitalize on the capabilities of machine learning.
      At the start of the Fall semester in 2019, Wolverine Sports Analytics undertook an analytics project with the
      Michigan Women’s Basketball Team. While reporting to graduate manager and former NBA G-League point guard,
      Harry Rafferty, Wolverine Sports Analytics developed an interactive Excel application.
      The purpose of this application was to allow managers, players, or coaches to easily spot strengths and
      weaknesses of opposing teams in addition to individual players.
    </p>
    <p>
      <span class="tab-1"></span>
      Every single college basketball game is unique, but collectively, valuable insights can be made.
      Using this idea, we developed personalized logistic regression algorithms that would determine winning strategies
      against a particular Big Ten women’s basketball team. For example, an insight that our algorithm could produce might
      be: attaining a 3-point field goal percentage one standard deviation above the mean at the cost of attaining an
      offensive rebound percentage one standard deviation below the mean results in a 5% decrease in win-probability.
    </p>
    <p>
      <span class="tab-1"></span>
      Due to the fact that we developed a unique algorithm for each Big Ten team, we were able to achieve very
      strong results such as a 95% accuracy against Maryland over the past 4 seasons. Essentially, without knowing
      the score of either team, the algorithm was able to predict the correct winner based off of inputs like turnover
      percentage, free-throw attempt rate, etc. In addition, the team can easily test different rotations and determine
      predicted rotation success. This was a great experience for WSA, and we anticipate future work with the women’s
      basketball team.
    </p>
  </div>
</div>
